{{#each portfolioSections }}
{{#if anchorId}}
<h5 id="{{anchorId}}" class="anchor label"><span>{{anchorLabel}}</span></h5>
{{/if}}
<section class="portfolio-section">
    <article>
        <h2 class="section-title">{{sectionTitle}}</h2>
        {{{sectionDescription}}}
    </article>
    {{#if lists}}
    <div class="lists">
      {{> lists lists }}
    </div>
    {{/if}}
    {{#if caseStudies}}
    <div class="case-studies">
        <ul>
        {{#each caseStudies}}
            <li>
                <a href="{{link}}">
                    <div class="case-study--title">
                        <h3 class="h5">{{client}}</h3>
                        <h3>{{title}}</h3>
                    </div>
                    <div class="img-wrap">
                        <div class="{{imgClass}}">{{{image}}}</div>
                    </div>
                </a>
            </li>
        {{/each}}
        </ul>
    </div>
    {{/if}}
    {{#if clients}}
    <div class="clients lists">
        <h4>{{clientsLabel}}</h4>
        <ul>
        {{#each clients}}
            <li>
                <a href="{{link}}">{{title}}</a>
            </li>
        {{/each}}
        </ul>
    </div>
    {{/if}}
</section>
{{#if circle}}
<div class="circle {{circle}}"></div>
{{/if}}
{{/each}}