<div class="image-row-wrap {{rowClass}}">
	{{#if heading}}<h3 class="h4">{{heading}}</h3>{{/if}}
	<div class="image-row">
		{{#each imgs}}
	    <div class="img-wrap {{imgClass}}">
	        {{#if caption}}<p class="emphasized">{{caption}}</p>{{/if}}
	        {{{img}}}
	    </div>
	  {{/each}}
	</div>
</div>